<!DOCTYPE html>
<html lang="es">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <title>Aplicación</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?v=2.0">
</head>
<body>
  <main class="fade-in">
    <h2>Aplicación</h2>
    <section class="fade-in">
      <h3>🇵🇪 Escuelas Ecoeficientes (MINEDU)</h3>
      <img src="{{ url_for('static', filename='imagen(peru).png') }}" class="imagen-redonda">
      <p>Descripción del caso MINEDU.</p>
      <h3>🇩🇪 Escuelas Verdes (Alemania)</h3>
      <img src="{{ url_for('static', filename='imagen(alemania).png') }}" class="imagen-redonda">
      <p>Descripción del caso en Alemania.</p>
    </section>
    <nav class="menu">
        <a href="{{ url_for('index') }}">Inicio</a>
        <a href="{{ url_for('reflexion') }}">Reflexión</a>
        <a href="{{ url_for('codigo') }}">Código</a>
    </nav>
  </main>
</body>
</html>
