{% extends "index.html" %}
{% block content %}
<h2>Aplicaciones</h2>
<div class="fade-in">
  <h3>📍 Perú - Escuelas Ecoeficientes (MINEDU)</h3>
  <img src="{{ url_for('static', filename='imagenes/peru.png') }}" class="imagen-redonda">
  <p>Programa del Ministerio de Educación que promueve el uso eficiente del agua, energía y gestión de residuos en instituciones educativas.</p>

  <h3>🇩🇪 Alemania - Escuelas Verdes</h3>
  <img src="{{ url_for('static', filename='imagenes/alemania.png') }}" class="imagen-redonda">
  <p>Iniciativa educativa que integra sostenibilidad en el currículo, diseño ecológico y prácticas verdes diarias.</p>
</div>
{% endblock %}
