<!DOCTYPE html>
<html>
<head>
    <title>Reflexión</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Reflexión del Proyecto</h1>
    <p>Este proyecto me permitió aplicar conocimientos de programación y diseño web al servicio de una causa ambiental...</p>

    <div class="navbar mt-4">
        <a class="btn" href="/">Inicio</a>
        <a class="btn" href="/aplicaciones">Aplicaciones</a>
        <a class="btn" href="/codigo">Código</a>
    </div>
</div>
</body>
</html>
