<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Reflexión</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <main class="fade-in">
    <h2>Reflexión</h2>
    <section class="fade-in">
      <img src="{{ url_for('static', filename='herramientas.png') }}" class="imagen-redonda">
      <p>Se emplearon Python, Flask, HTML/CSS, SQLite y SQLAlchemy. Render se usó para el despliegue.</p>
    </section>
    <nav>
      <a href="/" class="btn">Inicio</a>
      <a href="/aplicaciones" class="btn">Aplicación</a>
      <a href="/reflexion" class="btn">Reflexión</a>
      <a href="/codigo" class="btn">Código</a>
    </nav>
  </main>
</body>
</html>
